<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957339961206-15jiko7l6ln30ddj5k6u0095a3opgq6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957339961206-15jiko7l6ln30ddj5k6u0095a3opgq6i</string>
	<key>API_KEY</key>
	<string>AIzaSyAmehYuXCZHMjOTtX9lo9inJVW0qR8vd9M</string>
	<key>GCM_SENDER_ID</key>
	<string>957339961206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pshota.unrealplugindemo</string>
	<key>PROJECT_ID</key>
	<string>unrealplugindemo</string>
	<key>STORAGE_BUCKET</key>
	<string>unrealplugindemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957339961206:ios:dbde92d4fe9908176f9c57</string>
</dict>
</plist>